html {
  font-size: 14px;
}
h1 {
 // margin-bottom: 2rem;
  font-weight: 200;
}

h2, h3 {
  font-weight: 200;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7)
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 1)
}

.cursor-pointer {
  cursor: pointer;
}

.dg-attribution__copyright, .highcharts-credits {
  display: none;
}