<template>
    <div class="container-fluid">
        <h1>Типы транспортных средств</h1>

        <div v-if="!loaded">
            <font-awesome-icon icon="spinner" spin></font-awesome-icon>
        </div>
        <div v-if="loaded" style="overflow-y: auto">
            <div class="form-group">
                <router-link :to="{path:'/vehicle-types/create'}" class="btn btn-success">Добавить
                </router-link>
            </div>

            <b-table striped hover :items="vehicleTypes" :fields="fields">
                <template slot="commands" slot-scope="data">
                    <a href="#" v-on:click="editItem(data)">Редактировать</a>
                    <a href="#" v-on:click="deleteItem(data)">Удалить</a>

                </template>
            </b-table>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                loaded: false,
                vehicleTypes: [],
                fields: ['id', 'model', 'capacity', 'commands'],
            }
        },
        computed: {},
        methods: {
            load() {
                let app = this;
                app.loaded = false;
                app.vehicleTypes = [];
                axios.get('/api/vehicle-types')
                    .then(function (resp) {
                        app.vehicleTypes = resp.data.data;
                        app.loaded = true;
                    })
                    .catch(function () {
                        alert("Невозможно загрузить данные");
                    });
            },
            deleteItem(data) {
                let app = this;
                axios.delete('/api/vehicle-types/' + data.item.id)
                    .then(function () {
                        app.load();
                    })
                    .catch(function () {
                        alert("Невозможно удалить данные");
                    });

            },
            editItem(data) {
                this.$router.push({path: '/vehicle-types/edit/' + data.item.id});
            }
        },
        mounted() {
            this.load();
        },
    }
</script>

<style scoped>

</style>