<template>
    <div class="container">
        <b-card class="mt-4">
            <h2 slot="header">Редактирование</h2>
            <div v-if="!loaded">
                <font-awesome-icon icon="spinner" spin></font-awesome-icon>
            </div>
            <div v-if="loaded">
                <b-card-body>
                    <form v-on:submit="saveForm()">
                        <div class="row">
                            <div class="col-12 form-group">
                                <label class="control-label">Модель
                                    <input type="text" required v-model="vehicleType.model" class="form-control">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                <label class="control-label">Вместимость</label>
                                <input type="text" required v-model="vehicleType.capacity" class="form-control">
                            </div>
                        </div>
                        <div v-if="error" class="error">
                            Ошбика {{error}}
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                <button class="btn btn-success">Обновить</button>
                                <router-link :to="{path: '/vehicle-types'}" class="btn btn-default">Отмена</router-link>
                            </div>
                        </div>
                    </form>
                </b-card-body>
            </div>
        </b-card>
    </div>
</template>

<script>

    import axios from 'axios'

    export default {
        data: function () {
            return {
                error: null,
                vehicleType: {
                    model: '',
                    capacity: '',
                },
                loaded: false,
            }
        },
        computed: {
            vehicleTypeId: function () {
                return this.$route.params.id;
            }
        },
        methods: {
            load() {
                let app = this;
                app.loaded = false;
                axios.get('/api/vehicle-types/' + this.vehicleTypeId)
                    .then(function (resp) {
                        app.vehicleType = resp.data.data;
                        app.loaded = true;
                    })
                    .catch(function () {
                        alert("Невозможно загрузить данные");
                    });
            },
            saveForm() {
                event.preventDefault();
                axios.patch('/api/vehicle-types/'+this.vehicleTypeId, this.vehicleType)
                    .then(() => {
                        // Обновляем список доменов
                        this.$router.push({path: '/vehicle-types'})
                    })
                    .catch(error => {
                        this.error = error;
                        console.log('Error', error);
                    })
            }
        },
        mounted() {
            this.vehicleTypeId = this.$route.params.id;
            this.load();
        },
    }
</script>
