<template>
    <div class="container-fluid">
        <h1>Транзакции</h1>

        <div v-if="!loaded">
            <font-awesome-icon icon="spinner" spin></font-awesome-icon>
        </div>
        <div v-if="loaded" style="overflow-y: auto">
            <div class="form-group">
                <router-link :to="{path:'/transactions/import'}" class="btn btn-success">Импортировать
                </router-link>

                <a class="btn btn-danger" href="#" v-on:click="destroyAll()">Удалить</a>
            </div>

            <b-table striped hover :items="transactions" :fields="fields">
                <template slot="commands" slot-scope="data">
                    <a href="#" v-on:click="deleteItem(data)">Удалить</a>
                </template>
            </b-table>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                loaded: false,
                transactions: [],
                fields: ['id', 'card_id', 'terminal_id', 'stop_id', 'cost', 'time'],
            }
        },
        computed: {},
        methods: {
            load() {
                let app = this;
                app.loaded = false;
                app.transactions = [];
                axios.get('/api/transactions')
                    .then(function (resp) {
                        app.transactions = resp.data.data;
                        app.loaded = true;
                    })
                    .catch(function () {
                        alert("Невозможно загрузить данные");
                    });
            },
            deleteItem(data) {
                let app = this;
                axios.delete('/api/transactions/' + data.item.id)
                    .then(function () {
                        app.load();
                    })
                    .catch(function () {
                        alert("Невозможно удалить данные");
                    });

            },
            editItem(data) {
                this.$router.push({path: '/transactions/edit/' + data.item.id});
            },
            destroyAll() {
                let app = this;
                axios.post('/api/transactions/destroyAll')
                    .then(function () {
                        app.load();
                    })
                    .catch(function () {
                        alert("Невозможно удалить данные");
                    });
            }
        },
        mounted() {
            this.load();
        },
    }
</script>

<style scoped>

</style>