<template>
    <div class="container">
        <b-card class="mt-4">
            <h2 slot="header">Импорт транзакций</h2>
            <b-card-body>
                <form v-on:submit="doImport()">
                    <div class="row">
                        <div class="col-12 form-group">
                            <label class="control-label w-100">Данные
                                <textarea required v-model="importData" class="form-control"></textarea>
                            </label>
                        </div>
                    </div>

                    <div v-if="error" class="error">
                        Ошбика {{error}}
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <button class="btn btn-success">Импортировать</button>
                            <router-link :to="{path: '/transactions'}" class="btn btn-default">Отмена</router-link>
                        </div>
                    </div>
                </form>
            </b-card-body>
        </b-card>
    </div>
</template>

<script>

    import axios from 'axios'

    export default {
        data: function () {
            return {
                error: null,
                importData: '',
            }
        },
        methods: {
            doImport() {
                event.preventDefault();
                axios.post('/api/transactions/import', {data: this.importData})
                    .then(() => {
                        // Обновляем список доменов
                        this.$router.push({path: '/transactions'})
                    })
                    .catch(error => {
                        this.error = error;
                        console.log('Error', error);
                    })
            }
        }
    }
</script>
