<template>
    <div class="container">
        <b-card class="mt-4">
            <h2 slot="header">Редактирование</h2>
            <div v-if="!loaded">
                <font-awesome-icon icon="spinner" spin></font-awesome-icon>
            </div>
            <div v-if="loaded">
                <b-card-body>
                    <form v-on:submit="saveForm()">
                        <div class="row">
                            <div class="col-12 form-group">
                                <label class="control-label">Гос. номер
                                    <input type="text" required v-model="vehicle.number" class="form-control">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                <label class="control-label">Тип автомобиля</label>
                                <input type="text" v-model="vehicle.type_id" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                <label class="control-label">ИД установленных терминалов</label>
                                <input type="text" v-model="vehicle.terminal_ids" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                <label class="control-label">ИД марштура</label>
                                <input type="text" v-model="vehicle.route_ids" class="form-control">
                            </div>
                        </div>
                        <div v-if="error" class="error">
                            Ошбика {{error}}
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                <button class="btn btn-success">Обновить</button>
                                <router-link :to="{path: '/vehicles'}" class="btn btn-default">Отмена</router-link>
                            </div>
                        </div>
                    </form>
                </b-card-body>
            </div>
        </b-card>
    </div>
</template>

<script>

    import axios from 'axios'

    export default {
        data: function () {
            return {
                error: null,
                vehicleId: null,
                vehicle: {
                    number: '',
                    type_id: '',
                    terminal_ids: '',
                    route_ids: ''
                },
                loaded: false,
            }
        },
        methods: {
            load() {
                let app = this;
                app.loaded = false;
                axios.get('/api/vehicles/' + this.vehicleId)
                    .then(function (resp) {
                        app.vehicle = resp.data.data;
                        app.vehicle.terminal_ids = app.vehicle.terminals.map(function (terminal) {
                            return terminal.id;
                        }).toString();
                        app.vehicle.route_ids = app.vehicle.routes.map(function (route) {
                            return route.id;
                        }).toString();
                        app.loaded = true;
                    })
                    .catch(function () {
                        alert("Невозможно загрузить данные");
                    });
            },
            saveForm() {
                event.preventDefault();
                axios.patch('/api/vehicles/' + this.vehicleId, this.vehicle)
                    .then(() => {
                        // Обновляем список доменов
                        this.$router.push({path: '/vehicles'})
                    })
                    .catch(error => {
                        this.error = error;
                        console.log('Error', error);
                    })
            }
        },
        mounted() {
            this.vehicleId = this.$route.params.id;
            this.load();
        },
    }
</script>
