<template>
    <div class="container-fluid">
        <h1>Транспортные средства</h1>

        <div v-if="!loaded">
            <font-awesome-icon icon="spinner" spin></font-awesome-icon>
        </div>
        <div v-if="loaded" style="overflow-y: auto">
            <div class="form-group">
                <router-link :to="{path:'/vehicles/create'}" class="btn btn-success">Добавить
                </router-link>
                <!--                <router-link :to="{path:'/vehicles/import'}" class="btn btn-success">Импорт-->
                <!--                </router-link>-->
            </div>

            <b-table striped hover :items="vehicles" :fields="fields">
                <template slot="commands" slot-scope="data">
                    <a class='mr-1' href="#" v-on:click="editItem(data)">Редактировать</a>
                    <a href="#" v-on:click="deleteItem(data)">Удалить</a>
                </template>
                <template slot="model" slot-scope="data">
                    {{data.item.type.model}}
                </template>
                <template slot="capacity" slot-scope="data">
                    {{data.item.type.capacity}}
                </template>
                <template slot="terminals" slot-scope="data">
                    {{data.item.terminals.map(function(terminal) {
                    return terminal.id;
                    }).toString()}}
                </template>
                <template slot="routes" slot-scope="data">
                    {{data.item.routes.map(function(route) {
                    return route.name;
                    }).toString()}}
                </template>
            </b-table>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                loaded: false,
                vehicles: [],
                fields: ['id', 'number', 'model', 'capacity', 'terminals', 'routes', 'commands'],
            }
        },
        computed: {},
        methods: {
            load() {
                let app = this;
                app.loaded = false;
                app.vehicles = [];
                axios.get('/api/vehicles')
                    .then(function (resp) {
                        app.vehicles = resp.data.data;
                        app.loaded = true;
                    })
                    .catch(function () {
                        alert("Невозможно загрузить данные");
                    });
            },
            deleteItem(data) {
                let app = this;
                axios.delete('/api/vehicles/' + data.item.id)
                    .then(function () {
                        app.load();
                    })
                    .catch(function () {
                        alert("Невозможно удалить данные");
                    });

            },
            editItem(data) {
                this.$router.push({path: '/vehicles/edit/' + data.item.id});
            }
        },
        mounted() {
            this.load();
        },
    }
</script>

<style scoped>

</style>