<template>
    <div class="container">
        <b-card class="mt-4">
            <h2 slot="header">Импорт данных об остановках</h2>
            <b-card-body>
                <form v-on:submit="doImport()">
                    <div class="row">
                        <div class="col-12 form-group">
                            <label class="control-label w-100">Данные
                                <textarea required v-model="importData" class="form-control"></textarea>
                            </label>
                        </div>
                    </div>

                    <div v-if="error" class="error">
                        Ошбика {{error}}
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <button class="btn btn-success">Создать</button>
                            <router-link :to="'/routes/'+routeId+'/detail'" class="btn btn-default">Отмена</router-link>
                        </div>
                    </div>
                </form>
            </b-card-body>
        </b-card>
    </div>
</template>

<script>

    import axios from 'axios'

    export default {
        data: function () {
            return {
                error: null,
                importData: '',
            }
        },
        computed: {
            routeId: function () {
                return this.$route.params.id;
            }
        },
        methods: {
            doImport() {
                event.preventDefault();
                axios.post('/api/routes/'+this.routeId+'/import_stops', {data: this.importData})
                    .then(() => {
                        // Обновляем список доменов
                        this.$router.push({path: '/routes/' + this.routeId + '/detail'})
                    })
                    .catch(error => {
                        this.error = error;
                        console.log('Error', error);
                    })
            }
        }
    }
</script>
