<template>
    <div class="container-fluid">
        <h1>Маршруты</h1>

        <div v-if="!loaded">
            <font-awesome-icon icon="spinner" spin></font-awesome-icon>
        </div>
        <div v-if="loaded" style="overflow-y: auto">
            <div class="form-group">
                <router-link :to="{path:'/routes/create'}" class="btn btn-success">Добавить
                </router-link>
                <!--                <router-link :to="{path:'/stops/import'}" class="btn btn-success">Импорт-->
                <!--                </router-link>-->
            </div>

            <b-table striped hover :items="routes" :fields="fields">
                <template slot="name" slot-scope="data">
                    <router-link :to="{path:'/routes/' + data.item.id+'/detail'}" class="btn btn-success">
                        {{data.value}}
                    </router-link>
                </template>
                <template slot="commands" slot-scope="data">
                    <a class='mr-1' href="#" v-on:click="editItem(data)">Редактировать</a>
                    <a href="#" v-on:click="deleteItem(data)">Удалить</a>
                </template>
            </b-table>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "RoutesIndex",
        data() {
            return {
                loaded: false,
                routes: [],
                fields: ['id', 'name', 'description', 'commands'],
            }
        },
        computed: {},
        methods: {
            load() {
                let app = this;
                app.loaded = false;
                app.routes = [];
                axios.get('/api/routes')
                    .then(function (resp) {
                        app.routes = resp.data.data;
                        app.loaded = true;
                    })
                    .catch(function () {
                        alert("Невозможно загрузить данные");
                    });
            },
            deleteItem(data) {
                let app = this;
                axios.delete('/api/routes/' + data.item.id)
                    .then(function () {
                        app.load();
                    })
                    .catch(function () {
                        alert("Невозможно удалить данные");
                    });

            },
            editItem(data) {
                this.$router.push({path: '/routes/edit/' + data.item.id});
            }
        },
        mounted() {
            this.load();
        },
    }
</script>

<style scoped>

</style>