<template>
    <div class="container-fluid">
        <h1>Описание маршрута</h1>

        <div v-if="!loaded">
            <font-awesome-icon icon="spinner" spin></font-awesome-icon>
        </div>
        <div v-if="loaded" style="overflow-y: auto">
            <div class="form-group">
                <!--                <router-link :to="{path:'/routes/create'}" class="btn btn-success">Добавить остановку-->
                <!--                </router-link>-->
                <router-link :to="{path:'/routes/'+routeId+'/import'}" class="btn btn-success">Импорт остановок
                </router-link>
            </div>
            <div class="row">
                <div class="col-6">
                    <b-table striped hover :items="stops" :fields="fields">
                        <template slot="commands" slot-scope="data">
                            <a href="#" v-on:click="deleteItem(data)">Удалить</a>
                        </template>
                    </b-table>
                </div>
                <div class="col-6">
                    <div id="map" class="map-box w-100"></div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import Gis from '2gis-maps';
    import bus_stop_icon from '../../assets/stop.svg';

    export default {
        data() {
            return {
                map: null,
                routeId: null,
                loaded: false,
                stops: [],
                fields: ['id', 'name', 'latitude', 'longitude', 'commands'],
            }
        },
        computed: {
            preparedStopsMarks() {
                let arr = [];
                let icon = Gis.icon({
                    iconUrl: bus_stop_icon,
                    iconRetinaUrl: bus_stop_icon,
                    iconSize: [35, 95],
                    // iconAnchor: [40, 0],
                    popupAnchor: [-3, -76],
                    /* shadowUrl: bus_stop_icon,
                     shadowRetinaUrl: bus_stop_icon,
                     shadowSize: [68, 95],
                     shadowAnchor: [22, 94]*/
                });
                for (let i in this.stops) {
                    let data = {};
                    data.coords = [parseFloat(this.stops[i].longitude), parseFloat(this.stops[i].latitude)];
                    data.opts = {icon: icon};
                    data.opts.title = this.stops[i].name + ' long:' + this.stops[i].longitude + ', lat:' + this.stops[i].latitude;
                    data.opts.ind = this.stops[i].id;
                    data.opts.alt = 'bus stop mark';
                    arr.push(data);
                }
                return arr;
            }
        },
        methods: {
            load() {
                let app = this;
                app.loaded = false;
                app.stops = [];
                axios.get('/api/routes/' + this.routeId + '/stops')
                    .then(function (resp) {
                        console.log(resp.data);
                        app.stops = resp.data.data;
                        app.loaded = true;
                        setTimeout(function () {
                            app.drawMap(app);
                        })
                    })
                    .catch(function () {
                        alert("Невозможно загрузить данные");
                    });
            },
            deleteItem(data) {
                let app = this;
                axios.delete('/api/routes/' + data.item.id)
                    .then(function () {
                        app.load();
                    })
                    .catch(function () {
                        alert("Невозможно удалить данные");
                    });

            },
            drawMap(app) {
                app.map = Gis.map('map', {
                    center: [56.488346903600544, 84.94815373407619],
                    zoom: 14,
                    fullscreenControl: false,
                    zoomControl: false,
                    poi: false
                });
                // this.markerGroup = Gis.featureGroup();
                  this.addStopsMarksToMap();
            },
            addStopsMarksToMap() {
                for (let i in this.preparedStopsMarks) {
                    Gis.marker(this.preparedStopsMarks[i].coords, this.preparedStopsMarks[i].opts).addTo(this.map);
                }
            }
        },
        mounted() {
            this.routeId = this.$route.params.id;
            this.load();
        },
    }
</script>

<style scoped>
    .map-box {
        height: 600px;
    }
</style>