<template>
    <div style="font-size: 1.1rem">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand to="/statistics/total">TransportCity</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item to="/statistics/total" v-if="isAuthenticated">Общая</b-nav-item>
                    <b-nav-item to="/statistics" v-if="isAuthenticated">За период</b-nav-item>
                    <b-nav-item to="/statistics/by-hour" v-if="isAuthenticated">По часам</b-nav-item>
                </b-navbar-nav>

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">

                    <b-nav-item to="/register" v-if="!isAuthenticated">Зарегистрироваться</b-nav-item>
                    <b-nav-item to="/login" v-if="!isAuthenticated">Войти в систему</b-nav-item>
                    <b-nav-item-dropdown right v-if="isAuthenticated">
                        <!-- Using 'button-content' slot -->
                        <template slot="button-content">
                            <font-awesome-icon icon="user"></font-awesome-icon>&nbsp;
                            <span v-if="userName">{{userName}}</span>
                            <span v-else><font-awesome-icon icon="spinner" spin></font-awesome-icon>&nbsp;</span>

                        </template>

                        <b-dropdown-item to="/account">Профиль</b-dropdown-item>
                        <b-dropdown-divider></b-dropdown-divider>
                        <b-dropdown-item to="/stops" v-if="isAuthenticated">Остановки</b-dropdown-item>
                        <b-dropdown-item to="/routes" v-if="isAuthenticated">Маршруты</b-dropdown-item>
                        <b-dropdown-item to="/vehicles" v-if="isAuthenticated">Транспортные средства</b-dropdown-item>
                        <b-dropdown-item to="/vehicle-types" v-if="isAuthenticated">Типы транспортных средств
                        </b-dropdown-item>
                        <b-dropdown-item to="/terminals" v-if="isAuthenticated">Терминалы</b-dropdown-item>
                        <b-dropdown-item to="/cards" v-if="isAuthenticated">Карты пассажиров</b-dropdown-item>
                        <b-dropdown-item to="/transactions" v-if="isAuthenticated">Транзакции</b-dropdown-item>

                        <b-dropdown-divider></b-dropdown-divider>
                        <b-dropdown-item @click="logout()">Выход</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>
<script>
    import {AUTH_LOGOUT} from "../../store/actions/auth";

    export default {
        name: 'NavigationBar',
        computed: {
            isAuthenticated() {
                return this.$store.getters.isAuthenticated;
            },
            userName() {
                return this.$store.getters.userName;
            }
        },
        methods: {
            logout: function () {
                this.$store.dispatch(AUTH_LOGOUT).then(() => this.$router.push('/login'))
            },
        },
    }
</script>