<template>
    <div class="container">
        <b-card class="mt-4">
            <h2 slot="header">Создание</h2>
            <b-card-body>
                <form v-on:submit="saveForm()">
                    <div class="row">
                        <div class="col-12 form-group">
                            <label class="control-label">Модель
                                <input type="text" required v-model="terminal.model" class="form-control">
                            </label>
                        </div>
                    </div>

                    <div v-if="error" class="error">
                        Ошбика {{error}}
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <button class="btn btn-success">Создать</button>
                            <router-link :to="{path: '/terminals'}" class="btn btn-default">Отмена</router-link>
                        </div>
                    </div>
                </form>
            </b-card-body>
        </b-card>
    </div>
</template>

<script>

    import axios from 'axios'

    export default {
        data: function () {
            return {
                error: null,
                terminal: {
                    id: '',
                    model: '',
                }
            }
        },
        methods: {
            saveForm() {
                event.preventDefault();
                axios.post('/api/terminals', this.terminal)
                    .then(() => {
                        // Обновляем список доменов
                        this.$router.push({path: '/terminals'})
                    })
                    .catch(error => {
                        this.error = error;
                        console.log('Error', error);
                    })
            }
        }
    }
</script>
