<template>
    <div class="main-stat-wrp min-vh-100 ">
        <div class="container">
            <h1>Статистика по часам</h1>
            <div>
                Дата отчета: {{reportDate}}
                <div class="form-group">
                    <input type="radio" id="one" value="count" v-model="chartType">
                    <label for="one">Кол-во</label>
                    <input type="radio" id="two" value="cost" v-model="chartType">
                    <label for="two">Сумма</label>
                </div>
            </div>
            <div v-if="!loaded">
                <font-awesome-icon icon="spinner" spin></font-awesome-icon>
            </div>
            <div v-show="loaded">
                <b-card class="chart-wrap mt-2 mx-auto w-100">

                    <div id="transactionCart" class="chart-box"></div>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script>
    import Highcharts from 'highcharts';
    import axios from 'axios';

    export default {
        data() {
            return {
                reportDate: '2019-06-03',
                loaded: false,
                transactions: [],
                chartType: 'count'
            };
        },
        methods: {
            drawTransactionChart() {
                let app = this;
                let chartData = this.transactions.map(function (tr) {
                    if (app.chartType === 'count')
                        return [tr.transaction_time, tr.transaction_count];
                    else
                        return [tr.transaction_time, tr.transaction_cost];
                });

                Highcharts.chart('transactionCart', {
                    chart: {

                        height: 300,
                        type: 'spline'
                    },
                    title: {
                        text: 'Оплата по часам'
                    },

                    yAxis: {},
                    legend: {
                        layout: 'vertical',
                        floating: true,
                        backgroundColor: '#FFFFFF',
                        align: 'left',
                        verticalAlign: 'top',
                        y: 60,
                        x: 90
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                this.x + ': ' + this.y;
                        }
                    },
                    plotOptions: {},
                    series: [{
                        name: 'Оплаты',
                        data: chartData
                    }]
                });
            },

            load() {
                let app = this;
                axios.post('/api/stat/transactions/sum-hour', {date: app.reportDate})
                    .then(function (resp) {
                        app.transactions = resp.data;
                        app.drawTransactionChart();
                        app.loaded = true;
                    })
                    .catch(function () {
                        alert("Невозможно загрузить данные");
                    });
            }
        },
        mounted() {
            this.load();
        },
        computed: {
            getMarkers() {
                let preFormArr = [];
                for (let i in this.mapMarkerData) {
                    preFormArr.push({coords: this.mapMarkerData[i], icon: null})
                }
                return preFormArr;
            }
        },
        watch: {
            chartType() {
                this.drawTransactionChart()
            }
        }

    }
</script>

<style>
    .main-stat-wrp {
        background-color: aliceblue;
    }
</style>