<template>
    <div class="main-stat-wrp">
        <div class="container">
            <h1>Статистика по дням</h1>
            <div>
                Дата отчета: с {{dateFrom}} по {{dateTo}}
                <div class="form-group">
                    <input type="radio" id="one" value="count" v-model="chartType">
                    <label for="one">Кол-во</label>
                    <input type="radio" id="two" value="cost" v-model="chartType">
                    <label for="two">Сумма</label>
                </div>
            </div>
            <div v-if="!loaded">
                <font-awesome-icon icon="spinner" spin></font-awesome-icon>
            </div>
            <div v-show="loaded">
                <b-card class="chart-wrap mt-2 w-100">
                    <div id="transactionCart" class="chart-box"></div>
                </b-card>
                <b-card class="chart-wrap mt-2 w-100">
                    <h2>Загрузка по остановкам</h2>
                    <div id="map" class="map-box"></div>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script>
    import Highcharts from 'highcharts';
    import Gis from '2gis-maps';
    import axios from 'axios';

    export default {

        data() {
            return {
                mapMarkerData: [
                    [56.49004097559999, 84.9481751917483],
                    [56.48737544357331, 84.9483897684695]
                ],
                map: null,
                transactions: [],
                chartType: 'count',
                dateFrom: '2019-05-27',
                dateTo: '2019-06-02',
                loaded: false
            };
        },
        methods: {
            drawTransactionChart() {
                let app = this;
                let chartData = this.transactions.map(function (tr) {
                    if (app.chartType === 'count')
                        return [Date.parse(tr.transaction_date), tr.transaction_count];
                    else
                        return [Date.parse(tr.transaction_date), tr.transaction_cost];
                });

                Highcharts.chart('transactionCart', {
                    chart: {
                        height: 300,
                        type: 'spline'
                    },
                    title: {
                        text: 'Оплата по дням'
                    },
                    xAxis: {
                        type: 'datetime',
                        title: {
                            text: 'Дата'
                        }
                    },
                    yAxis: {
                        title: {
                            text: app.chartType === 'count' ? 'Кол-во' : 'Сумма руб.'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        floating: true,
                        backgroundColor: '#FFFFFF',
                        align: 'left',
                        verticalAlign: 'top',
                        y: 60,
                        x: 90
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                new Date(this.x).toLocaleDateString() + ': ' + this.y
                                + (app.chartType === 'count' ? ' оплат' : ' руб.');
                        }
                    },
                    plotOptions: {},
                    series: [{
                        name: 'Оплаты',
                        data: chartData
                    }]
                });

            },

            drawMap() {
                this.map = Gis.map('map', {
                    center: [56.488346903600544, 84.94815373407619],
                    zoom: 14,
                    fullscreenControl: false,
                    zoomControl: false
                }).on('click', function (ev) {
                    console.log(ev.latlng);
                });
                // Gis.ruler(this.rulerData).addTo(this.map);
                console.log(this.getMarkers);
                for (let i in this.getMarkers) {
                    Gis.marker(this.getMarkers[i].coords, this.getMarkers[i].opts).addTo(this.map);
                }
            },
            load() {
                let app = this;
                app.loaded = false;
                axios.post('/api/stat/transactions/sum-date', {date_from: app.dateFrom, date_to: app.dateTo})
                    .then(function (resp) {
                        app.transactions = resp.data;
                        app.drawTransactionChart();
                        app.loaded = true;
                    })
                    .catch(function () {
                        alert("Невозможно загрузить данные");
                    });

                axios.post('/api/stat/transactions/by-stops', {date_from: app.dateFrom, date_to: app.dateTo})
                    .then(function (resp) {
                        console.log(resp.data);
                        app.stopStat = resp.data;
                        app.drawMap();
                    })
                    .catch(function () {
                        alert("Невозможно загрузить данные");
                    });

            }
        },
        mounted() {
            this.load();
        },
        computed: {
            getMarkers() {
                let preFormArr = [];
                let s = 30;
                for (let i in this.stopStat) {
                    let prctng = (this.stopStat[i].transaction_count / this.getMaxPayCount) * 100;
                    let t_size = (s * prctng) / 100;
                    let neIcon = Gis.divIcon({html: '<div class="circle-icon" style="width: ' + t_size + 'px;height: ' + t_size + 'px"></div>'});
                    let opts = {}
                    opts.icon = neIcon;
                    opts.title = this.stopStat[i].name + ' количество транзакций: ' + this.stopStat[i].transaction_count;
                    preFormArr.push({
                        coords: [parseFloat(this.stopStat[i].longitude), parseFloat(this.stopStat[i].latitude)],
                        opts
                    })
                }
                return preFormArr;
            },
            getMaxPayCount() {
                let count = 0;
                for (let i in this.stopStat) {
                    count = this.stopStat[i].transaction_count > count ? parseFloat(this.stopStat[i].transaction_count) : count;
                }
                return count;
            }
        },
        watch: {
            chartType() {
                this.drawTransactionChart()
            }
        }
    }
</script>

<style>
    .main-stat-wrp {
        background-color: aliceblue;
    }

    .map-box {
        width: 100%;
        height: 100vh;
    }


    .leaflet-marker-icon, .leaflet-marker-icon.leaflet-div-icon {
        background-color: transparent;
        border: none;
    }

    .circle-icon {
        border-radius: 50%;
        background-color: #3f42fe;
    }
</style>