<template>
    <div class="main-stat-wrp min-vh-100 ">
        <div class="container">
            <h1>Общая статистика</h1>
            <div v-if="!loaded">
                <font-awesome-icon icon="spinner" spin></font-awesome-icon>
            </div>
            <div v-show="loaded">
                <b-card class="chart-wrap mt-2 mx-auto w-100">
                    <div id="pieTotal" class="chart-box"></div>
                </b-card>
                <div class="row">
                    <div class="col-6">
                        <b-card class="chart-wrap mt-4 w-100">
                            <div id="pieGender" class="chart-box"></div>
                        </b-card>
                    </div>
                    <div class="col-6">
                        <b-card class="chart-wrap mt-4  w-100">
                            <div id="pieRoute" class="chart-box"></div>
                        </b-card>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import Highcharts from 'highcharts';
    import axios from 'axios';

    export default {
        data() {
            return {
                loaded: false,
                report: {
                    count: null,
                    female: null,
                    male: null,
                    routes: []
                },
            };
        },
        methods: {
            drawTransactionChart() {
                let app = this;
                let chartData = [{name: 'Количество платежей', y: app.report.count}];
                Highcharts.chart('pieTotal', {
                    chart: {
                        height: 300,
                        type: 'pie'
                    },
                    title: {
                        text: 'Количество платежей'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.y}',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Оплаты',
                        data: chartData
                    }]
                });
            },
            drawGenderChart() {
                let app = this;
                let chartData = [{name: 'Мужчин', y: app.report.male},
                    {name: 'Женщин', y: app.report.female}];
                Highcharts.chart('pieGender', {
                    chart: {
                        height: 300,
                        type: 'pie'
                    },
                    title: {
                        text: 'Распределение по полу'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Оплаты',
                        data: chartData
                    }]
                });
            },
            drawRouteChart() {
                let app = this;
                let chartData = app.report.routes.map(function (route) {
                    return {name: 'Маршрут №' + route.name, y: route.transaction_count};
                });

                Highcharts.chart('pieRoute', {
                    chart: {
                        height: 300,
                        type: 'pie'
                    },
                    title: {
                        text: 'Распределение по маршрутам'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Оплаты',
                        data: chartData
                    }]
                });
            },
            load() {
                let app = this;
                app.loaded = false;
                axios.post('/api/stat/routes/transactions-count')
                    .then(function (resp) {
                        app.loaded = true;
                        app.report = resp.data;
                        app.drawTransactionChart();
                        app.drawGenderChart();
                        app.drawRouteChart();

                    })
                    .catch(function () {
                        alert("Невозможно загрузить данные");
                    });
            }
        },
        mounted() {
            this.load();
        },

    }
</script>

<style>
    .main-stat-wrp {
        background-color: aliceblue;
    }

    .dg-attribution__copyright, .highcharts-credits {
        display: none;
    }
</style>