<template>
    <div>
        <b-card class="loginFormCard mt-4">
            <h2 slot="header">Вход в PService</h2>

            <form class="loginForm" @submit.prevent="login">
                <div class="form-group">
                    <label for="email">Электронная почта</label>
                    <input id="email" class="form-control" required v-model="email" type="email"
                           placeholder="Введите вашу электронную почту"/>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input id="password" class="form-control" required v-model="password" type="password"
                           placeholder="Пароль"/>
                </div>
                <div v-if="status==='error'" style="color:red">
                    Ошибка неверное имя пользователя/пароль
                </div>
                <hr/>
                <button class="btn btn-primary" type="submit">Войти</button>
            </form>
        </b-card>
    </div>
</template>

<style>
    .loginFormCard {
        width: 300px;
        margin: 0 auto;
    }

    .loginForm {
        display: flex;
        flex-direction: column;

        padding: 10px;
        margin: 0 auto;
    }
</style>

<script>
    import {AUTH_REQUEST} from '../../store/actions/auth.js'
    import {mapState} from 'vuex'

    export default {
        name: 'login',
        data() {
            return {
                email: '',
                password: '',
            }
        },
        computed: mapState({auth: state => state.auth}),
        methods: {
            login: function () {
                const {email, password} = this;
                this.$store.dispatch(AUTH_REQUEST, {email, password}).then(() => {
                    this.$router.push('/')
                })
            }
        },
    }
</script>