<template>
    <div class="container">
        <b-card class="mt-4">
            <h2 slot="header">Редактирование</h2>
            <div v-if="!loaded">
                <font-awesome-icon icon="spinner" spin></font-awesome-icon>
            </div>
            <div v-if="loaded">
                <b-card-body>
                    <form v-on:submit="saveForm()">
                        <div class="row">
                            <div class="col-12 form-group">
                                <label class="control-label">Название
                                    <input type="text" required v-model="stop.name" class="form-control">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                <label class="control-label">Долгота</label>
                                <input type="text" v-model="stop.longitude" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                <label class="control-label">Широта</label>
                                <input type="text" v-model="stop.latitude" class="form-control">
                            </div>
                        </div>
                        <div v-if="error" class="error">
                            Ошбика {{error}}
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                <button class="btn btn-success">Обновить</button>
                                <router-link :to="{path: '/stops'}" class="btn btn-default">Отмена</router-link>
                            </div>
                        </div>
                    </form>
                </b-card-body>
            </div>
        </b-card>
    </div>
</template>

<script>

    import axios from 'axios'

    export default {
        data: function () {
            return {
                error: null,
                stopId: null,
                stop: {
                    name: '',
                    longitude: '',
                    latitude: '',
                },
                loaded: false,
            }
        },
        methods: {
            load() {
                let app = this;
                app.loaded = false;
                axios.get('/api/stops/' + this.stopId)
                    .then(function (resp) {
                        app.stop = resp.data.data;
                        app.loaded = true;
                    })
                    .catch(function () {
                        alert("Невозможно загрузить данные");
                    });
            },
            saveForm() {
                event.preventDefault();
                axios.patch('/api/stops/'+this.stopId, this.stop)
                    .then(() => {
                        // Обновляем список доменов
                        this.$router.push({path: '/stops'})
                    })
                    .catch(error => {
                        this.error = error;
                        console.log('Error', error);
                    })
            }
        },
        mounted() {
            this.stopId = this.$route.params.id;
            this.load();
        },
    }
</script>
