<template>
    <div class="container-fluid">
        <h1>Остановки</h1>

        <div v-if="!loaded">
            <font-awesome-icon icon="spinner" spin></font-awesome-icon>
        </div>
        <div style="overflow-y: auto" class="col-12 p-0">
            <template v-if="loaded">
<!--            <a href="javascript:void(0)" @click="clear()">clear</a>-->
            <div class="form-group">
                <router-link :to="{path:'/stops/create'}" class="btn btn-success">Добавить
                </router-link>
                <router-link :to="{path:'/stops/import'}" class="btn btn-success">Импорт
                </router-link>
            </div>
            </template>
            <div class="col-12 p-0 d-flex">
            <b-table striped hover :items="stops" :fields="fields" class="col-6 p-0">
                <template slot="commands" slot-scope="data">
                    <a href="#" v-on:click="editItem(data)">Редактировать</a>
                    <a href="#" v-on:click="deleteItem(data)">Удалить</a>

                </template>
            </b-table>
                <div id="map" class="map-box col-6 p-0"></div>
            </div>
        </div>

    </div>
</template>

<script>
    import axios from 'axios';
    import Gis from '2gis-maps';
    import bus_stop_icon from '../../assets/stop.svg';

    export default {
        name: "StopsIndex",
        data() {
            return {
                loaded: false,
                stops: [],
                fields: ['id', 'name', 'longitude', 'latitude', 'commands'],
            }
        },
        computed: {
            preparedStopsMarks(){
                let arr = [];
                let icon = Gis.icon({
                    iconUrl: bus_stop_icon,
                    iconRetinaUrl: bus_stop_icon,
                    iconSize: [35, 95],
                    // iconAnchor: [40, 0],
                    popupAnchor: [-3, -76],
                   /* shadowUrl: bus_stop_icon,
                    shadowRetinaUrl: bus_stop_icon,
                    shadowSize: [68, 95],
                    shadowAnchor: [22, 94]*/
                });
                for (let i in this.stops){
                    let data = {};
                    data.coords = [parseFloat(this.stops[i].longitude),parseFloat(this.stops[i].latitude)];
                    data.opts = {icon:icon};
                    data.opts.title = this.stops[i].name+' long:'+this.stops[i].longitude+', lat:'+this.stops[i].latitude;
                    data.opts.ind = this.stops[i].id;
                    data.opts.alt = 'bus stop mark';
                    arr.push(data);
                }
                return arr;
            }
        },
        methods: {
            load() {
                let app = this;
                app.loaded = false;
                app.stops = [];
                axios.get('/api/stops')
                    .then(function (resp) {
                        app.stops = resp.data.data;
                        app.loaded = true;
                    })
                    .catch(function () {
                        alert("Невозможно загрузить данные");
                    });
            },
            clear(){
                this.markerGroup.removeFrom(this.map);
            },
            deleteItem(data) {
                let app = this;
                axios.delete('/api/stops/' + data.item.id)
                    .then(function () {
                        app.load();
                    })
                    .catch(function () {
                        alert("Невозможно удалить данные");
                    });

            },
            editItem(data) {
                this.$router.push({path: '/stops/edit/' + data.item.id});
            },
            drawMap(){
                this.map = Gis.map('map',{
                    center: [56.488346903600544, 84.94815373407619],
                    zoom: 14,
                    fullscreenControl: false,
                    zoomControl: false,
                    poi:false
                }).on('click', function(ev) {
                    // console.log(ev.latlng);
                });
                // this.markerGroup = Gis.featureGroup();
                this.addStopsMarksToMap();
            },
            addStopsMarksToMap(){
                for (let i in this.preparedStopsMarks){
                    Gis.marker(this.preparedStopsMarks[i].coords,this.preparedStopsMarks[i].opts).addTo(this.map);
                }
            }
        },
        watch:{
            stops:{
                deep:true,
                handler(n){
                    this.addStopsMarksToMap();
                }
            },
        },
        mounted() {
            this.load();
            this.drawMap();
        },
    }
</script>

<style scoped>
    .map-box{
        width: 100%;
        height: 600px;
    }
</style>